:root {
    --header-height: 30px;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 2.2rem;
    font-weight: bold;
}

h2 {
    font-size: 1.4rem;
}

header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    border-bottom: 1px solid black;
    background-color: white;
    z-index: 50;
}

nav {
    height: 100%;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100%;
}

main {
    margin-top: var(--header-height);
    padding-top: 20px;
}

article.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 56px;
}

.about-container,
.contact-container {
    display: flex;
    gap: 30px;
}

.about-container aside,
.about-container > section {
    padding: 20px;
}

.about-container aside {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.about-container aside img,
.about-container aside h2 {
    align-self: center;
}

.about-container > section {
    width: 60%;
    line-height: 1.3rem;
}

.about-container > section p {
    margin: 16px 0;
}

.about-container .linethrough {
    margin: 10px 0;
    position: relative;
    z-index: 1;
}

.about-container .linethrough:before {
    border-top: 2px solid #c5c5c5;
    content:"";
    margin: 0 auto;
    position: absolute;
    top: 50%; left: 0; right: 0; bottom: 0;
    width: 95%;
    z-index: -1;
}

.about-container .linethrough span {
    background: #fff; 
    padding: 0 5px;
    margin-left: 20px;
}

.about-container > section .linethrough {
    padding-bottom: 10px;
}

.about-container > section .linethrough span {
    margin-left: 30px;
}

.experience-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.experience-list li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.project {
    outline: 1px solid black;
    height: 320px;
}

.img-placeholder {
    height: 60%;
    border-bottom: 1px solid black;
}

.project section {
    padding: 16px;
    height: 40%;
}

.project-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.contact-container section {
    width: 60%;
    border: 1px solid black;
}

.contact-container aside {
    width: 40%;
    border: 1px solid black;
}

.contact-container section > *:not(h1) {
    padding: 0 16px;
}

footer {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
}

@media (max-width: 1100px) {
    .projects-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

@media (max-width: 850px) {
    .about-container {
        flex-direction: column;
        align-items: center;
    }

    .about-container aside,
    .about-container section,
    .contact-container aside,
    .contact-container section {
        width: 100%;
    }

    .experience-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .contact-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .projects-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

@media (max-width: 650px) {
    .experience-list {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .about-container > section p {
        text-align: justify;
    }
}

@media (max-width: 490px) {
    .about-container > section .linethrough {
        text-align: center;
    }
    
    .about-container > section .linethrough span {
        margin-left: 0;
        padding: 0 10px;
        text-align: center;
    }
    
    .experience-list {
        grid-template-columns: repeat(auto-fill, minmax(105px, 1fr));
    }

    .projects-grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .img-placeholder {
        height: 55%;
    }

    .project section {
        height: 45%;
    }

    .project-icons {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 385px) {
    .about-container > aside .linethrough {
        text-align: center;
        padding: 10px 0 5px;
    }

    .about-container .linethrough span {
        margin-left: 0;
    }

    .experience-list {
        grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
        gap: 20px;
    }

    .experience-list li > span {
        display: none;
    }

    .project {
        height: 300px;
    }
}

@media (max-width: 340px) {
    h1 {
        font-size: 1.7rem;
    }

    .projects-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .img-placeholder {
        height: 40%;
    }

    .project section {
        height: 60%;
    }
}